@import "import/heder.scss";

header {
  width: 100%;
  position: fixed;
}
.heder-top {
  justify-content: space-between;
  padding: 10px;
  color: #ffffff;
}
.logo-box {
}
.logo {
  font-size: 34px;
  font-weight: 800;
}
.top-menu {
  width: 70%;
  justify-content: space-between;
}

.main {
  background-image: url(../img/satom2.jpg);
  height: 100%;
  align-items: center;
  justify-content: center;
}
.main_promo {
}
