@charset "UTF-8";
/*Обнуление*/
* { padding: 0; margin: 0; border: 0; }

*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

:focus, :active { outline: none; }

a:focus, a:active { outline: none; }

nav, footer, header, aside { display: block; }

html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

input, button, textarea { font-family: inherit; }

input::-ms-clear { display: none; }

button, a { cursor: pointer; }

button::-moz-focus-inner { padding: 0; border: 0; }

a, a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

ul li { list-style: none; }

img { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }

/*--------------------*/
body { font-family: "Montserrat", sans-serif; font-size: 14px; line-height: 21px; height: 100%; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

img { width: 100%; min-height: 100%; }

.container { max-width: 1140px; margin-right: auto; margin-left: auto; }

header { width: 100%; position: fixed; background: rgba(0, 0, 0, 0.8); }

.heder-top { text-transform: uppercase; font-size: 16px; font-weight: 300; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 10px; color: #ffffff; }

.heder-top a { color: #ffffff; }

.logo { font-size: 34px; font-weight: 800; text-shadow: 0 0 16px #0042b5; }

.top-menu { width: 70%; -ms-flex-pack: distribute; justify-content: space-around; }

.main-section { width: 100%; height: 100%; max-height: 650px; }

.main { background: url(../img/fb52cf0bd595410faccdf97a8f783c3d1.jpg) left top no-repeat; background-size: cover; background-position: center center; height: 100%; width: 100vmax; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

h1 { font-size: 3.5rem; font-weight: 800; }

.main_promo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: #ffffff; -webkit-text-stroke: 1px #091c3d; text-align: center; font-size: 3rem; text-shadow: 0 0 10px #0042b5; line-height: 44px; }

.main_promo p { margin: 10px; font-weight: 700; }
