@charset "UTF-8";
/*Обнуление*/
* { padding: 0; margin: 0; border: 0; }

*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

:focus, :active { outline: none; }

a:focus, a:active { outline: none; }

nav, footer, header, aside { display: block; }

html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

input, button, textarea { font-family: inherit; }

input::-ms-clear { display: none; }

button, a { cursor: pointer; }

button::-moz-focus-inner { padding: 0; border: 0; }

a, a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

ul li { list-style: none; }

img { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }

/*--------------------*/
body { font-size: 15px; line-height: 20px; }

h1 { font-size: 56px; line-height: 80px; font-weight: 800; text-transform: uppercase; }

h2 { font-size: 39px; line-height: 40px; font-weight: 600; text-transform: uppercase; }

h3 { font-size: 24px; line-height: 40px; font-weight: 500; }

h4 { font-size: 15px; line-height: 20px; font-weight: 400; }

h5 { font-size: 15px; line-height: 20px; }

/*--------------------*/
body { font-family: "Montserrat", sans-serif; font-size: 14px; line-height: 21px; height: 100%; background-color: #1a1b23; color: #ffff; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

img { width: 100%; min-height: 100%; }

.container { max-width: 1240px; margin-right: auto; margin-left: auto; }

.buttons { font-weight: 500; color: #000; background-color: #ffffff; border: 2px solid #6287ff; border-radius: 50px; -webkit-box-shadow: 0 0 10px rgba(0, 60, 255, 0.8); box-shadow: 0 0 10px rgba(0, 60, 255, 0.8); padding: 20px 50px; margin: 30px; }

input, textarea { border-radius: 3px; }

.reason_block, .service_block, .order_cb-option span { background-color: #303343; }

header { width: 100%; position: fixed; background: rgba(0, 0, 0, 0.8); }

.heder-top { text-transform: uppercase; font-size: 16px; font-weight: 300; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 10px; color: #ffffff; }

.heder-top a { color: #ffffff; }

.logo { font-size: 34px; font-weight: 800; text-shadow: 0 0 16px #0042b5; }

.top-menu { width: 70%; -ms-flex-pack: distribute; justify-content: space-around; }

.callback-fix { position: fixed; background-color: rgba(0, 0, 0, 0.8); width: 100%; height: 100%; top: 0; left: 0; padding: 30px 10px; overflow-y: auto; overflow-x: hidden; opacity: 0; visibility: hidden; }

.callback-fix_body { max-width: 500px; margin: 1.75rem auto; min-height: 80%; }

.callback-fix:target { opacity: 1; visibility: visible; }

.callbeck_form { color: #000; background-color: #eff1f2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; border-radius: 3px; }

.callbeck_form .close { position: absolute; text-align: center; padding-top: 10px; width: 40px; height: 40px; right: 10px; top: 10px; }

.callbeck_form_head { margin: 30px 0; font-size: 34px; font-weight: 500; }

.callbeck_form p { margin-top: 10px; }

.callbeck_form input, .callbeck_form textarea { margin: 10px 0; padding: 13px; border-radius: 2px; }

.callback_close { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.main-section { width: 100%; height: 100%; max-height: 650px; min-height: 550px; }

.main { background: url(../img/fb52cf0bd595410faccdf97a8f783c3d1.jpg) left top no-repeat; background-size: cover; background-position: center center; height: 100%; }

.main_shadow { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: rgba(0, 0, 0, 0.7); height: 100%; width: 100%; }

.main .buttons { margin-top: 100px; }

.main_promo { margin-top: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: #ffffff; text-align: center; font-size: 3rem; line-height: 44px; }

.main_promo p { margin: 10px; font-weight: 700; }

.reason_header { margin: 100px 1px 30px 1px; }

.reason h2 { text-align: center; }

.reason_col { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.reason_icon { display: inline-block; width: 30px; height: 30px; margin: 10px 10px; }

.reason_block { max-width: 393px; padding: 16px 10px; margin: 10px 10px; border-radius: 3px; }

.reason_block h4 { font-size: 20px; font-weight: 500; margin-bottom: 10px; }

.types { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; margin-top: 100px; margin-bottom: 100px; }

.types_left { width: 23%; }

.types_title { font-weight: 300; font-size: 24px; margin-top: 20px; cursor: pointer; }

.types_title.active { text-decoration: underline; }

.types_right { width: 50%; }

.types_block { overflow: hidden; visibility: hidden; opacity: 0; -webkit-transition: 0.5s; transition: 0.5s; height: 0; }

.types_block.active { visibility: visible; opacity: 1; height: auto; }

.service { margin-top: 100px; }

.service h2 { text-align: center; margin-bottom: 40px; }

.service_box { display: -webkit-box; display: -ms-flexbox; display: flex; }

.service_block { margin: 10px 10px; padding: 15px 17px; width: 30%; border-radius: 3px; }

.service_block h4 { font-size: 20px; font-weight: 500; margin: 30px 0 15px 0; }

.service_logo { border-radius: 50px; padding: 23px; background-color: #1a1b23; width: 90px; height: 90px; margin: 7px auto; }

.order { margin-top: 100px; padding-bottom: 100px; }

.order h2 { text-align: center; margin-bottom: 50px; }

.order h4 { font-size: 1.375rem; font-weight: 600; margin: 0 0 20px; }

.order_box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 20px; }

.order_box .order_block:first-child { -ms-flex-preferred-size: 70%; flex-basis: 70%; }

.order_cb-option { position: relative; margin-bottom: 16px; margin-right: 5px; display: inline-block; }

.order_cb-option input { position: absolute; visibility: hidden; opacity: 0; }

.order_cb-option input:checked ~ span { color: #1a1a1a; background-color: #ffaf29; }

.order_cb-option span { cursor: pointer; padding: 10px; -webkit-transition: background-color 0.35s, -webkit-transform 0.35s; transition: background-color 0.35s, -webkit-transform 0.35s; transition: background-color 0.35s, transform 0.35s; transition: background-color 0.35s, transform 0.35s, -webkit-transform 0.35s; display: inline-block; border-radius: 3px; }

.order_contact h4 { font-size: 1.375rem; font-weight: 600; margin: 0 0 20px; }

.order_contact_block { display: -webkit-box; display: -ms-flexbox; display: flex; }

.order_contact_block input { height: 100%; margin-right: 20px; border-radius: 3px; }

.order_contact_block button { background-color: #ffc25c; color: #252734; -webkit-box-shadow: 0px 10px 20px rgba(255, 194, 92, 0.4); box-shadow: 0px 10px 20px rgba(255, 194, 92, 0.4); font-weight: bold; padding: 12px 24px; -webkit-transition: 0.3s all; transition: 0.3s all; display: inline-block; cursor: pointer; border-radius: 3px; border: none; text-decoration: none; }

.order_contact_block button.active { background-color: #28ff14; color: #252734; -webkit-box-shadow: 0px 10px 20px rgba(40, 255, 20, 0.4); box-shadow: 0px 10px 20px rgba(40, 255, 20, 0.4); }

.order .error-input { position: absolute; visibility: hidden; opacity: 0; background-color: #ffffff; color: #000; border-radius: 8px; -webkit-transition: 0.3s all; transition: 0.3s all; }

.order .error-input img { width: 20px; height: 20px; margin: 10px; vertical-align: middle; }

.order .error-input span { margin-right: 10px; }

.order .error-input:before { border: 20px solid transparent; border-bottom-color: white; position: absolute; bottom: 100%; left: 20px; content: ""; }

.order .error-input.active { visibility: visible; opacity: 100; -webkit-transform: translatey(21px); transform: translatey(21px); }
